<!DOCTYPE html>
<html lang="ro">
<head><title>Arendas.ro</title></head>
<body style="font-family: sans-serif;margin:0;">
<div style="max-width: 600px;margin: 30px auto 0;">
    <div style="display:flex;flex-wrap: wrap;justify-content: space-between;align-items: center;">
        <a href="https://www.isagri.ro">
            <img alt="Arendas.ro" src="https://isagri.arendas.ro/logo_arendas.f4dba338.svg"
                 style="max-width: 160px"/>
        </a>
        <div style="color: #000000;line-height: 1.5em">
            Ai nevoie de ajutor? <br/>
            <a href="tel:021 555 33 50">021 555 33 50</a><br/>
            <a href="mailto:asistenta@isagri.fr?Subject={{subject}}">asistenta@isagri.fr</a>
        </div>
    </div>
    <div style="border: 1px solid #4974a7;padding:10px 15px;">
        <h3 style="line-height: 125%; margin: 10px 20px 5px 20px; padding: 0; text-align: center; font-weight: bold;">
            Tichet suport
        </h3>
        <div style="margin-bottom: 3px;">
            <strong >Buna ziua,</strong><br/>
        </div>
        <div>
            Tichetul cu numarul #{{TICKET_NUMBER}} a fost creat cu succes.
        </div>
        <hr />
        <br/>
        <div style="margin:8px 0;">
            <strong>Datele contului:</strong>
        </div>
        <div style="padding-left:6px;border-left:1px solid #C8C8C8;">
            Nume: {{USER_NAME}}<br/>
            E-mail: {{USER_EMAIL}}<br/>
            Telefon: {{USER_PHONE}}<br/><br/>
            Firma: {{COMPANY_NAME}}<br/>
            Telefon: {{COMPANY_PHONE}}<br/>
        </div>
        <hr />
        <br/>
        <div style="margin:8px 0;">
            <strong>Mesaj:</strong>
        </div>
        <pre style="border-left:1px solid #C8C8C8; padding-left: 6px;margin:0;">{{MESSAGE}}</pre>
        <hr />
        <br/>
        <div>
            Toate cele bune,<br/>
            Echipa Arendas.ro<br/>
            <a href="" style="color: #038D9A;">https://www.isagri.ro/</a>
        </div>
    </div>
    <div style="font-size: 0.9em; font-weight: bold;">
        Toate drepturile rezervate ISAGRI ROMANIA SRL &copy; 2020
    </div>
    <div style="color: #666; font-size: 0.9em;">
        Splaiul Unirii nr. 16, et.7, cam. 703, Sector 4, Bucuresti<br/>
        Telefon: <a href="tel:0215553350">021 555 33 50</a>
    </div>
</div>
</body>
</html>